.layout {
  max-width: 1400px;
  margin: 0 auto;
  /*min-height: 568px;*/
  padding-bottom: 25px;
}
/*
@media all and (min-width: 1024px) {
  .layout {
    min-height: 1058px;
  }
}*/
/*
@media all and (min-width: 1540px) {
  .layout {
    min-height: 1179px;
  }

}
*/
